*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#box-1, #box-2, #box-3{
    cursor: pointer;
    margin:5px;
    border:none;
}

#container{
    margin: 50px;
}

#box-1{
    width:169px;
    height: 33px;
    border-radius: 2rem;
    border: 0.15rem solid hsl(171, 99%, 41%);
    background-color: hsl(0, 5%, 96%);
    color:hsl(171, 99%, 41%);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.15rem;
    
}

#box-2{
    width:38px;
    height: 38px;
    border-radius: 50%;
    background-color:hsl(171, 99%, 41%);
    color:hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: bold;
}

#box-3{
    width:205px;
    height: 39px;
    border:0.15rem solid hsl(0, 0%, 0%);
    box-shadow: 5.5px 4px 1.8px 0px hsl(0, 0%, 0%);
    background-color: hsl(215, 78%, 53%);
    color:white;
    font-size: 1.12rem;
    font-weight: normal;
}